numpy==1.23.5
tensorflow==2.12.0
tensorflow-intel==2.12.0
scipy==1.10.1
rasa==3.6.21
rasa-sdk
fuzzywuzzy
pymupdf
rapidfuzz>=2.0.0
spacy==3.5.4
langdetect
transformers
sentence-transformers
torch
python-Levenshtein
pdfplumber